@import "tailwindcss";
@import "tw-animate-css";

@config "../../tailwind.config.js";

:root {
	--background: "#ffffff";
	--foreground: oklch(0.145 0 0);
}
@theme inline {
	--font-english: var(--font-inter);
	--font-arabic: var(--font-cairo);
}

body {
	background-color: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
