@import "tailwindcss";
@import "tw-animate-css";

@config "../../tailwind.config.js";

:root {
	--background: "#ffffff";
	--foreground: oklch(0.145 0 0);
}

@theme inline {
	--font-english: var(--font-inter);
	--font-arabic: 'Noto Sans Arabic';
}

body {
	background-color: var(--background);
	font-family: var(--font-inter), 'Inter', sans-serif;
}

/* RTL font support */
[dir="rtl"] body {
	font-family: var(--font-arabic), 'Noto Sans Arabic', sans-serif;
}